html,
body,
#root {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  display: flow-root;
  background-color: #ffeeef;
  font-family: sans-serif;
  font-size: 15px;
  
}

code {
  font-family: sans-serif;
}

* {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
